<h2>{{t "My items"}}</h2>
<div class="row-fluid">
	<div class="span12">
		{{#if gadget}}
		{{#itr .}}
		<h3 class="asset-title-separator asset-type-{{key}}">{{cap key}}</h3>
		{{#slice value size="3"}}
		<div class="row-fluid">
			{{#each .}}
			{{#attributes}}
			<div class="span4 store-my-item">
				<a href="{{url "/asset/gadget"}}?asset={{../path}}"><img src="{{url images_thumbnail}}"></a>
				<a class="asset-title" href="{{url "/asset/gadget"}}?asset={{../path}}"> <strong>{{overview_name}}</strong></a><br> <small>by {{overview_provider}}</small>
				<div class="btn-group">
					<a class="btn btn-mini" data-toggle="tooltip" title="{{t "Embed this asset"}}">
						<i class="icon-angle-left"></i><i class="icon-angle-right"></i>
					</a>
					<a class="btn  btn-mini" data-toggle="tooltip" title="{{t "View asset details"}}" href="{{url "/asset/gadget"}}?asset={{../path}}">
						<i class="icon-eye-open"></i>
					</a>
					<a class="btn btn-mini" data-toggle="tooltip" title="{{t "Remove asset"}}">
						<i class="icon-remove"></i>
					</a>
				</div>
			</div>
			{{/attributes}}
			{{/each}}
		</div>
		{{/slice}}
		<hr>
		{{/itr}}
		{{else}}
		<div id="no-data-my-items" class="no-data">
			<i class="icon-inbox"></i>
			<p>
            {{t "You still haven't added any item from the Store."}}
			</p>
			<p>
				<a href="#" class="btn btn-primary">{{t "Add some items now"}}</a>
			</p>
		</div>
		{{/if}}
	</div>
</div>
