<!DOCTYPE html>
<html>
	<head>
		<title>Store</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">	
		
		<link href="{{url "/themes/store/assets/bootstrap/css/bootstrap.min.css"}}" rel="stylesheet">
		<link href="{{url "/themes/store/assets/bootstrap/css/bootstrap-responsive.min.css"}}" rel="stylesheet">
		<link href="{{url "/themes/store/assets/bootstrap/css/bootstrap-fileupload.min.css"}}" rel="stylesheet">
		<link href="{{url "/themes/store/assets/bootstrap/css/bootstrap-fileupload.min.css"}}" rel="stylesheet">
		<link href="{{url "/themes/store/css/main.css"}}" rel="stylesheet">
	</head>
	<body>


		{{>header}}
		

		 {{include body}}

		{{>footer}}

			

		<script src="assets/jquery/jquery-min.js"></script>
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="assets/bootstrap/js/bootstrap-fileupload.min.js"></script>
		<script src="assets/handlebars/handlebars.js"></script>
		<script src="assets/jcarousel/jquery.jcarousel.min.js"></script>
		<script src="js/store.js"></script>
		
		<script src="{{url "/themes/store/assets/jquery/jquery-min.js"}}"></script>
		<script src="{{url "/themes/store/assets/bootstrap/js/bootstrap.min.js"}}"></script>
		<script src="{{url "/themes/store/assets/bootstrap/js/bootstrap-fileupload.min.js"}}"></script>
		<script src="{{url "/themes/store/assets/handlebars/handlebars.js"}}"></script>
		<script src="{{url "/themes/store/assets/jcarousel/jquery.jcarousel.min.js"}}"></script>
		<script src="{{url "/themes/store/js/store.js"}}"></script>

	</body>
</html>